*.class

# Package Files #
*.jar
*.war
*.ear

# Maven #
log/
target/

# intelliJ #
.idea/
*.iml
*.iws

# Eclipse #
.project
.classpath
.settings

# Visual Studio #
Bin/
Debug/
Release/
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
ipch/

#Gradle
.gradle/
build
